<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ site_name }} par Alexandre Fradet !{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block menu %}
    <header>
        <nav class="green darken-3 z-depth-3">
            <div class="nav-wrapper wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="left hide-on-med-and-down home_bloc_btn valign">
                    <li><a href="{{ path('profile') }}">Profil</a></li>
                    <li><a class="disable" href="{{ path('project') }}">Projets</a></li>
                    <li><a href="{{ path('logbook') }}">Logbook</a></li>
                    <li><a class="disable" href="{{ path('blog') }}">Blog</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ path('profile') }}">Profil</a></li>
                    <li><a class="disable" href="{{ path('project') }}">Projets</a></li>
                    <li><a href="{{ path('logbook') }}">Logbook</a></li>
                    <li><a class="disable" href="{{ path('blog') }}">Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="fixed-action-btn horizontal">
        <a href="{{ path('index') }}" class="btn-floating btn-large green darken-3">
            <img src="{{ asset('/img/logo_perso-white.png') }}" alt="retour accueil">
        </a>
        <ul>
            <li><a href="https://twitter.com/{{ twitter }}" target="_blank" class="btn-floating yellow darken-1"><img src="{{ asset('/img/twitter-black.png')}}" alt="twitter"/></a></li>
            <li><a href="https://github.com/{{ github }}" target="_blank" class="btn-floating green"><img src="{{ asset('/img/github-black.png') }}" alt="github" /></a></li>
            <li><a href="https://fr.linkedin.com/in/{{ linkedin }}" target="_blank" class="btn-floating blue"><img src="{{ asset('/img/linkedin-black.png')}}" alt="linkedin"></a></li>
            <li><a class="btn-floating red"><img src="{{ asset('/img/mail-black.png')}}"/></a></li>
        </ul>
    </div>
{%  endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>

{% endblock %}
</body>
</html>
