<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- SEO -->
    <meta name="description" content="Site personnel d’Alexandre Fradet, Développeur Web PHP Symfony 2 sur Lyon. Web Developer. CV, blog, tutos et plus encore à venir.">
    <meta name="keywords" content="Symfony2, Symfony, PHP, HTML, CSS, JavaScript, Jquery, Mysql, developpeur web, web developper, site web">
    <meta name="author" content="Alexandre Fradet">
    <meta name="robots" content="all" />



    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <!-- Materialize icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% block stylesheets %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('img/logo_perso-white.png')}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/img/logo_perso-white.ico') }}" />

</head>

<body>
{% block body %}
{% block menu %}
    {##}
    <header id="head">
        <nav class="green darken-3 z-depth-5">
            <div class="nav-wrapper wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="left hide-on-med-and-down home_bloc_btn valign">
                    <li><a href="{{ path('index') }}" class="waves-effect">Home</a></li>
                    <li><a href="#" data-activates="slide-out" class="button-collapse2">Profil</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" data-activates="slide-out" class="button-collapse2">Profil</a></li>
                </ul>
            </div>
        </nav>
    </header>
{%  endblock %}
<main>
{% block content %}{% endblock %}
</main>


{% block footer %}
    <footer class="page-footer z-depth-5">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p class="grey-text text-lighten-4">Copyright © Alexandre Fradet 2016<br></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-89858023-1', 'auto');
        ga('send', 'pageview');

    </script>

{% endblock %}

{% endblock %}
</body>

</html>
