{% extends 'base.html.twig' %}

{% block content %}
    <h1>Logbooks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Img</th>
                <th>Other</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logbook in logbooks %}
            <tr>
                <td><a href="{{ path('logbook_show', { 'id': logbook.id }) }}">{{ logbook.id }}</a></td>
                <td>{{ logbook.title }}</td>
                <td>{{ logbook.content }}</td>
                <td>{{ logbook.img }}</td>
                <td>{{ logbook.other }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('logbook_show', { 'id': logbook.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('logbook_edit', { 'id': logbook.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('logbook_new') }}">Create a new logbook</a>
        </li>
    </ul>
{% endblock %}
