{% extends "::base.html.twig" %}

{% block title %}Journal de Dev - Logbook | {{ site_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/logbook.css') }}" />
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6">
            {% for tag in tags %}
            <a class="waves-effect waves-light btn tagbutton green accent-5" id="{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6 section_articles">
            {% for article in articles %}
                <h3><small>{{ article.title }}</small></h3>
                {%  if article.img %}
                    <img src="{{ article.img }}"/>
                {% endif %}
                <p>{{ article.content | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/blogindex.js') }}" ></script>

{% endblock %}