{% extends "::base.html.twig" %}

{% block title %}Journal de Dev - Logbook | {{ site_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/logbook.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/blogindex.css') }}" />
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col s12 offset-m2 m8 offset-l3 l6" id="tagbar">
            {% for tag in tags %}
                <a class="waves-effect waves-light btn tagbutton green accent-5" id="{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="section_articles">
    {% for article in articles %}
        <div class="row">
            <div class="col s12">
                <h3>{{ article.title }}</h3>
            </div>
            {%  if article.img %}
                <div class="col offset-s2 s8 offset-m3 m6 offset-l4 l4 blogindex_articles_img">
                    <img src="{{ asset('img/'~ article.img )}}"/>
                </div>
            {% endif %}
            <div class="col s12 offset-m2 m8 offset-l3 l6 blogindex_art_cont">
                <p>{{ article.content | raw }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/blogindex.js') }}" ></script>

{% endblock %}