{% extends "base.html.twig" %}

{% block title %}Accueil - Home | {{ site_name }} {% endblock %}
{% block menu %}{% endblock %}
{% block body %}
    <div class="col">

        <h1>Bienvenue sur {{ site_name }}</h1>
        <div class="col offset-s2 s8">
            <p>Le site est actuellement en construction, les différentes sections ouvreront au fur et à mesure de mon avancement et apprentissage !</p>
            <p>Vous pouvez d'ores et déjà retrouver mes objectifs, difficultés et avancées sur le développement du site <a href="{{ path('logbook') }}">dans mon logbook</a></p>
        </div>
    </div>
        <div class="row">
            <a href="{{ path('logbook') }}"><div class="col offset-s1 s10 offset-m1 m4 offset-l2 l2 home_bloc_tile hoverable">
                    <img src="{{ asset('/img/logbook-black.png')}}" alt="logbook">
            </div></a>
            <div class="col offset-s1 s10 offset-m2 m4 offset-l1 l2 home_bloc_tile hoverable"><img src="{{ asset('/img/settings-black.png')}}" alt="settings"></div>
            <div class="col offset-s1 s10 offset-m1 m4 offset-l1 l2 home_bloc_tile hoverable"><img src="{{ asset('/img/curriculum-black.png')}}" alt="curriculum"></div>
            <div class="col offset-s1 s10 offset-m2 m4 offset-l2 l2 home_bloc_tile hoverable"></div>
            <div class="col offset-s1 s10 offset-m1 m4 offset-l1 l2 home_bloc_tile hoverable"></div>
            <div class="col offset-s1 s10 offset-m2 m4 offset-l1 l2 home_bloc_tile hoverable"></div>
        </div>
{% endblock %}
