{% extends "base.html.twig" %}

{% block title %}CV {{ site_name }} - Développeur PHP Symfony 2 à Lyon{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/resume.css') }}" />{% endblock %}

{% block menu %}
    <header>
        <nav class="hide-on-large-only z-depth-5 pinned">
                <a href="#" data-activates="slide-out" class="button-collapse white-text left"><i class="material-icons">menu</i></a>
        </nav>

        <ul id="slide-out" class="side-nav fixed section table-of-contents">
            <li>
                <a id="logo-container" href="{{ path('index') }}" class="brand-logo">
                    <img src="{{ asset('img/logo_perso-white.png') }}" alt="logo">
                </a>
            </li>
            <li><a href="#presentation">A propos</a></li>
            <li><a href="#skills">Compètences</a></li>
            <li><a href="#projects">Projets</a></li>
            <li><a href="#hackatons">Hackatons</a></li>
            <li class="navbar-sp"></li>
            <li><a href="{{ asset('download/CV_Alexandre_Fradet.pdf')}}" download="">Mon CV</a></li>
            <li class="navbar-sp"></li>
            <li>Contact :</li>
            <li class="contact">
                <a href="https://github.com/{{ github }}" target="_blank"><img src="{{ asset('/img/github-black.png') }}" alt="github" /></a>
                <a href="mailto:{{ mail}}"><img src="{{ asset('/img/mail-black.png')}}" alt="mail"/></a>

            </li>
            <li class="contact">
                <a href="https://fr.linkedin.com/in/{{ linkedin }}" target="_blank"><img src="{{ asset('/img/linkedin-black.png')}}" alt="linkedin"></a>
                <a href="https://twitter.com/{{ twitter }}" target="_blank"><img src="{{ asset('/img/twitter-black.png')}}" alt="twitter"/></a>
            </li>

        </ul>
    </header>
{%  endblock %}

{% block content %}


    <div class="container">
        <div class="row resume-title" id="name">
            <h1>Alexandre Fradet, Développeur Web Jr</h1>
        </div>

        <!-- Presentation -->

        <div class="row resume-title section scrollspy" id="presentation">
            {# Presentation.1.0.0.title #}
            <h2>{{ Presentation.0.title }}</h2>
            <h3>{{ Presentation.0.subtitle }}</h3>

        </div>
        <div class="row">
            <div class="col offset-s3 s6 offset-m1 m3">
                <img src="{{ asset( 'img/' ~ Presentation.0.img ) }}" alt="portrait" class="responsive-img circle">
            </div>
            <div class="col offset-s1 s10 m7">
                <p style="text-align: justify">{{ Presentation.0.content | raw }}
                </p>
            </div>
        </div>
        <div class="bl_sp_sm"></div>

        <!-- Competences -->

        <div class="row resume-title section scrollspy" id="skills">
            <h2>Compètences techniques</h2>
            <h3>Stack technique perso</h3>
        </div>

        <div class="row skills-tile">
            <div class="col offset-s1 s10 m6">
                <div class="card light-green z-depth-4">
                    <div class="card-content black-text text-darken-4">
                        <span class="card-title"><strong>PHP</strong></span>
                        <ul>
                            <li>Formé sur <strong>Symfony 2</strong></li>
                            <li>Développement en <strong>POO</strong> et <strong>MVC</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="card lime darken-1 z-depth-4">
                    <div class="card-content black-text text-darken-4">
                        <span class="card-title"><strong>JavaScript</strong></span>
                        <ul>
                            <li>Site réalisé avec <strong>jQuery</strong> avec lequel je travaille</li>
                            <li>J'envisage <strong>NodeJS</strong> comme prochaine techno</li>
                            <li>Je suis interessé par <strong>MEAN</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="card green accent-4 z-depth-4">
                    <div class="card-content black-text text-darken-4">
                            <span class="card-title">
                                    Méthode <strong>SCRUM</strong>
                            </span>
                    </div>
                </div>

                <div class="card green accent-2 z-depth-4">
                    <div class="card-content black-text text-darken-4">
                            <span class="card-title"><small>
                            Je travaille avec <strong>PhpStorm</strong> & <strong>Eclipse</strong>
                            </small></span>
                    </div>
                </div>
            </div>
            <div class="col offset-s1 s10 m6">


                <div class="card lime lighten-2 z-depth-2">
                    <div class="card-content black-text text-darken-4">
                            <span class="card-title">
                                    <strong>Java</strong>
                            </span>
                        <ul>
                            <li>Stage de fin de formation réalisé sur <strong>Liferay</strong></li>
                        </ul>
                    </div>
                </div>

                <div class="card green lighten-2 z-depth-4">
                    <div class="card-content black-text text-darken-4">
                        <span class="card-title"><strong>HTML 5</strong> / <strong>CSS 3</strong></span>
                        <ul>
                            <li>Je travaille sur <strong>Bootstrap</strong></li>
                            <li>Site réalisé en <strong>Materializecss</strong></li>
                            <li>J'envisage <strong>Foundation</strong> pour mon prochain projet</li>
                        </ul>
                    </div>
                </div>

                <div class="card green accent-5 z-depth-4">
                    <div class="card-content black-text text-darken-4">
                        <span class="card-title">Autres <strong>outils</strong>
                        </span>
                        <ul>
                            <li>Base de données <strong>MySQL</strong></li>
                            <li>Serveur <strong>Apache2</strong> / <strong>Tomcat</strong></li>
                            <li>Versionnage <strong>Git</strong> / <strong>Github</strong></li>
                            <li>OS <strong>Ubuntu</strong> / <strong>Windows</strong></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="bl_sp_sm"></div>

        <!-- Projets -->

        <div class="row resume-title section scrollspy" id="projects">
            <h2>Projets</h2>
            <h3>Réalisations & Contributions</h3>
        </div>

        <div class="row projects-tile">
            {% for proj in Project %}
                <div class="col offset-s1 s10 m4">
                    <div class="card z-depth-3 ">
                        <div class="card-image">
                            <img src="{{ asset( 'img/'~ proj.img ) }}" alt="hackaton-{{ proj.title }}">
                            <span class="card-title">{{ proj.title }}</span>
                        </div>
                        <div class="card-content valign-wrapper project-card">
                            <p class="valign">
                                {{ proj.content | raw }}
                        </div>
                        <div class="card-action">
                            <a href={{ proj.url }} >{{ proj.title }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="bl_sp_sm"></div>


        <!-- Hackatons -->

        <div class="row resume-title section scrollspy" id="hackatons">
            <h2>Hackatons</h2>
            <h3>Les sessions de codage intensif</h3>
        </div>
        <div class="row hackatons-tile">

            {# for hacks in Hackaton.1 #}
            {% for hacks in Hackaton %}
            <div class="col offset-s1 s10 m4">
                <div class="card z-depth-3 hackaton-card">
                    <div class="card-image">
                        <img src="{{ asset( 'img/'~ hacks.img ) }}" alt="hackaton-{{ hacks.title }}">
                        <span class="card-title">{{ hacks.title }}</span>
                    </div>
                    <div class="card-content valign-wrapper">
                        <p class="valign">
                            {{ hacks.content | raw }}
                    </div>
                    <div class="card-action">
                        <a href={{ hacks.url }} >{{ hacks.title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="bl_sp_sm"></div>

    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/resume.js') }}" ></script>

{% endblock %}
