{% extends "base.html.twig" %}

{% block title %}CV {{ site_name }} - Développeur Java EE - PHP Symfony 2 à Lyon{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/resume.css') }}" />{% endblock %}

{% block menu %}
    <header>
        <nav class="hide-on-large-only z-depth-5 pinned">
                <a href="#" data-activates="slide-out" class="button-collapse white-text left"><i class="material-icons">menu</i></a>
        </nav>

        <ul id="slide-out" class="side-nav fixed section table-of-contents">
            <li>
                <a id="logo-container" href="{{ path('index') }}" class="brand-logo">
                    <img src="{{ asset('img/logo_perso-white.png') }}" alt="logo">
                </a>
            </li>
            <li><a href="#presentation">A propos</a></li>
            <li><a href="#skills">Compètences</a></li>
            <li><a href="#projects">Projets</a></li>
            <li><a href="#hackatons">Hackatons</a></li>
            <li class="navbar-sp"></li>
            <li><a href="{{ asset('download/CV_Alexandre_Fradet.pdf')}}" download="">Mon CV</a></li>
            <li class="navbar-sp"></li>
            <li>Contact :</li>
            <li class="contact">
                <a href="https://github.com/{{ github }}" target="_blank"><img src="{{ asset('img/github-black.png') }}" alt="github" /></a>
                <a href="mailto:{{ mail}}"><img src="{{ asset('img/mail-black.png')}}" alt="mail"/></a>

            </li>
            <li class="contact">
                <a href="https://fr.linkedin.com/in/{{ linkedin }}" target="_blank"><img src="{{ asset('img/linkedin-black.png')}}" alt="linkedin"></a>
                <a href="https://twitter.com/{{ twitter }}" target="_blank"><img src="{{ asset('img/twitter-black.png')}}" alt="twitter"/></a>
            </li>

        </ul>
    </header>
{%  endblock %}

{% block content %}


    <div class="container">
        <!-- Presentation -->
        {% include 'Main/ResumeBlock/presentation.html.twig' %}
        <div class="bl_sp_sm"></div>

        <!-- Competences -->
        {% include 'Main/ResumeBlock/skill.html.twig' %}
        <div class="bl_sp_sm"></div>

        <!-- Projets -->
        {% include 'Main/ResumeBlock/project.html.twig' %}
        <div class="bl_sp_sm"></div>

        <!-- Hackatons -->
        {% include 'Main/ResumeBlock/hackaton.html.twig' %}
        <div class="bl_sp_sm"></div>

    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('js/resume.js') }}" ></script>

{% endblock %}
